/*COMMON*/
.section-padding {
    padding: 40px 0;
}

.green-section {
    background-color: #1abc9c;
    color: white;
}

.star {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-container {
    width: 60%;
    max-width: 900px;
    margin: 0 auto;
} 

.btn_download {
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;
}

/* HEADER */
/*Nav*/
nav {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
}

nav span {
    font-size: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    line-height: 30px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.burger-menu {
    color: white;
    font-size: 25px;
}
/* jumbotron */

.jumbotron img { 
    height: 200px;
}

/*MAIN*/
/* images */

.box-image {        
    margin-bottom: 20px;
    
}

.box-image img {
    border-radius: 10px;
}


/*about*/
.about p {
    text-align: left;
    padding-bottom: 20px;
}



/*contact*/
.contact-form input,
.contact-form textarea {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    padding: 20px;
}


/* FOOTER*/
footer {
    color: white;
}
/*first footer */

.first-footer {
    background-color: #3a546d;    
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.social-list {
    list-style-type: none;
}

.social-list li {
    display: inline-block;
    padding-right: 10px;
}

.social-list li .social-link {
    display: inline-block;    
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;    
    color: white;
    border: 1px solid white;
    
}
/* second-footer */
.second-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2c3e50;        
}
